body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
.header-top-section{
    background-color:black;
    position:relative;
    height: 50px;
}
 .container{
    width:100%;
    padding: 0 20px;
    height:50px
 }   
 .font{
    padding:12px 0;
    display: inline-block;
    width:auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 9px;
    color: white ;
 }
 .nav-link-items{
    font-size: 22px;
    font-weight: 800;
    line-height: 9px;
    color: black;
    
 }
 .top-inner-section{
    display:flexbox;
    align-items:flex-start;
    width:100%;
}
 ul li a{
    padding:12px 0;
    display: inline-block;
    width:auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: white;

}
.carouselimgsz{
    height:560px;
}

 .carousel-inner{
    margin: auto;
        
   
 }
 .navbar-nav{
    margin: auto;
  width: 50%;
 }
 li.nav-item.dropdown {list-style-type: none;
 }
 .card{
   text-align: center;       
 }
 .footersize{    
  height:250px;        
 }
 .footer-text{
    font-weight:lighter;
    padding-left: 180px;
    
 }    
.contact-heading{
    font-size: 25px;
    font-weight: 400; 
    padding-left: 180px;
}

.copyright{
    text-align: center;
}
.questions{
    height:500px;    
}
.pagehead{
   font-size: 36px;
   text-align: center;
   font-weight: 900;
}
.navborder{
    border-bottom: 2px solid;
}
.pdcontainer{
    width: 100%;
    height:100%
}
.image{
    padding-left: 300px;
}
div.prodsel.col-md-3{
   height:100px;
   position:absolute;
   right:150px;      
}
 .brand{
    font-size: 20px;
    font-weight: 500;
 }
 .prodname{
    font-size: 25px;
    font-weight: 900;
 }
 .descrip{
    width:1100px;
    border-top: 2px solid;
    
 }
 .description{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
 }
 .tentfeatures{
    width:1100px;
    border-bottom: 2px solid;    
 }
 .features-label{
    font-size: 25px;
    font-weight: bold;
 }
 .cart-page-heading{
    text-align: center;
    font-weight: bold;
 }
 .input-group{
    width:120px;    
 }
 .cart-total{
    display:flex;
   justify-content: end; 
   padding-right: 55px;    
 }
 .paypalbtn{
    color:blue;
    font-weight: bold;
 }
 .cart-btn p{
    color:white;
    font-weight: bold; 
 }
 a[href^="/cart"]{
  color: white;
  text-decoration: none;
}
a[href^="/checkout"]{
    color: white;
    text-decoration: none;
  }
a[href^="/#"]{
    color: white;
    text-decoration: none;
  }
  .signin-head{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }
  .buttonpass{
    display:flex;
   
  }
  .sign-in-form{
    display:flex;
    justify-content:center;
  }
  .newcusthead{
    font-size: 25px;
    font-weight: bold;
  }
  .header-label{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }
  button.btn.btn-primary.rounded-pill.btn-lg a {
    color: white;
    text-decoration: none;
  }
  .email-row{
    justify-content: center;
  }
  .input-group{
    width:300px;
    height:70px
  }
  input.form-control.box-color.bg-light{
    border-left: none;
    background-image: url("/images/Recaptcha.png");
    background-repeat: no-repeat, repeat;
    background-position:center;  
    
  }
  input.form-check-input{
    height:30px;
    width:30px;
    
  }
  .form-check-label{
    padding-left: 10px;
  }
  .create-btn-reg{
    padding-left: 85px;
  }
  .email-size{
    width: 350px;
  }
  .ship-country{
    width: 350px;
  }
  .input-group-ship{
    width:600px;
    height:100;
  }
  .payment-box {
    border:black;
    width: 300px;
    height:350px;    
  }
  .input-group-text-cred{
    border:none;
    background-image: url("/images/creditcardimg.png");
    background-repeat: no-repeat, repeat;
    background-position:left;
    background-position:125px ;  
  }
  .input-group-cred-card{
    height:75px;
    width:10px;
  }
  .input-group-text-paypal{
    height:50px;
    background-image: url("/images/paypalpaymentsprouk.png");
    background-repeat: no-repeat, repeat;
    background-position:left;
    background-position:25px ;  
  }
  .header-cart a{
    color:blue;
    
    
  }
   